.cardContainer {
    padding-top: 3rem;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    width: 335px;
}

.cardImage {
    overflow: hidden;
    position: relative;
    padding-bottom: 5px;

}

.cardImage--img {
    border-radius: 10px;
    position: relative;
    top: 0;
    left: 0;
}

.cardImage--status {
    position: absolute;
    top: 20px;
    left: 20px;

    border-radius: 5px;
    background-color: white;
    padding: 4px;
}

.cardInfo {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    height: 80px;
}

.cardInfo--grade {
    display: flex;
    align-items: center;
}

.cardInfo--grade--star {
    width: 20px;
}

.cardInfo--grade--grade {
    font-size: 1.2rem;
    padding-left: 3px;
}

.cardInfo--grade--count-country {
    font-size: 1.2rem;
    padding-left: 3px;
    color: #918E9B;
}

.cardInfo--text {
    font-size: 1.2rem;
}

.cardInfo--value {
    font-size: 1.2rem;
}